

body{
    background-color: white;
}

.one{
    width: 100%;
    height: 50px;
    border: 2px solid black;
    background-color: rgb(228, 239, 209);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

ul {
    list-style: none; 
    margin: 0 auto;
  }
/*YOU*/


  a {
    text-decoration: none;
    font-family: 'Lora', serif;
    transition: .5s linear;
  }
  i {
    margin-right: 10px;
    width: 5%;
  }
  nav {
    display: block;
    width: 660px;
    margin: 0 auto 30px;
  }

  .three ul {
    padding: 0;
    background: #E4EFD1;
  }
  .three li {
    display: inline-block;
  }
  .three a {
    padding: 1em;
    display: block;
    color: #74924C;
    border-right: 1px solid #BAD78B;
    background: rgba(186, 215, 139, .3);
  }
  .three a:hover {background: #BAD78B}

#two{
font-family: sans-serif;
    float: left;

    padding: 15px;
    text-decoration: overline;
    font-style: italic;
    text-transform: uppercase;
}

#img{
    width: 160px;
    height: 150px;
}


td{
	width:180px;
	height:100px;
	border:2px solid black
}
#four{
width: 170px;
border: 2px solid black;
background-color: rgb(228, 239, 209);
}   

